VITE_API_URL=https://abc123.execute-api.us-east-1.amazonaws.com
VITE_COGNITO_DOMAIN=https://zoomzoom-669962866722.auth.us-east-1.amazoncognito.com
VITE_USER_POOL_CLIENT_ID=replace-after-terraform-apply
